/*
 * General: Miscellaneous
 * ----------------------
 */
.pad {
  padding: 10px;
}
.margin {
  margin: 10px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.margin-r-5 {
  margin-right: 5px;
}
.margin-r-15{
  padding-right: 15px!important;
}
.margin-r-20{
  padding-right: 20px!important;
}
.padding-r-0{
  padding-right: 0!important;
}
.padding-l-0{
  padding-left: 0!important;
}
.relative{
  position: relative;
}
.inline {
  display: inline;
}

.hide {
  display: none !important;
}
.no-border {
  border: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-shadow {
  box-shadow: none !important;
}
.center-items{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  top: 6px;
  position: absolute;
}
.tooltip{
  font-family: IRANSans;
}
.tooltip-inner{
  background-color: #424242;
}
.tooltip.top .tooltip-arrow{
  border-top-color: #424242;
}
.sidebar-menu > li .label, .sidebar-menu > li .badge{
  margin-right: 5px;
  margin-left: 0!important;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: IRANSans!important;
  text-align: right!important;
}
.form-control{
  color: #333333!important;
}
.ltr{
  direction: ltr;
}
.btn{
  position: relative;
  padding: 10px 12px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
  float: right;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
  float: right;
}
.nav-tabs > li{
  float: right;
}
.gray-color{
  color: #7f8fa4;
}
